Get Top5 PH to telegram
{
  "meta": {
    "instanceId": "6d47937438eab47ac9fe2489aa36ca84252e3e1285b2c1a65491be339e8d9145"
  },
  "nodes": [
    {
      "parameters": {},
      "id": "067924b1-3bb8-4e2f-9969-a001218029b2",
      "name": "When clicking ‘Test workflow’",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        200,
        280
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 12,21 * * *"
            }
          ]
        }
      },
      "id": "327fb387-a013-4ca1-8438-224d73ae71dc",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        260,
        120
      ]
    },
    {
      "parameters": {
        "endpoint": "https://api.producthunt.com/v2/api/graphql",
        "requestFormat": "json",
        "query": "=query PostRanking {\n  posts(postedAfter: \"{{$json.postedAfter}}\", order: RANKING, first: 5, postedBefore: \"{{$json.postedBefore}}\") {\n    edges {\n      node {\n        name\n        tagline\n        description\n        votesCount\n        website\n       comments {\n          edges {\n            node {\n              body\n            }\n          }\n        }\n      }\n    }\n  }\n} ",
        "headerParametersUi": {
          "parameter": [
            {
              "name": "Authorization",
              "value": "Bearer iRlXX37oCP596Iffiu18M4ZJvgSOdsrgDiA0KH5k6UM"
            }
          ]
        }
      },
      "id": "f0b421da-5f2b-424a-a732-74c9a031ca1c",
      "name": "GraphQL",
      "type": "n8n-nodes-base.graphql",
      "typeVersion": 1,
      "position": [
        720,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      postedAfter: new Date(new Date(Date.now()).getTime() - (1000 * 60 * 60 * 24)).toISOString(),\n      postedBefore: new Date(Date.now()).toISOString()\n    }\n  }\n];"
      },
      "id": "560f2003-0e5b-4bd6-93bc-f0511ec42546",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        260
      ]
    },
    {
      "parameters": {
        "chatId": "-1002160652884",
        "text": "=Top 5 PH Projects\n\nProject Name: \n{{$json[\"Name\"]}}\n\nTagline: \n{{$json[\"Tagline\"]}}\n\nDescription: \n{{$json[\"Description\"]}}\n\nWebsite: \n{{$json[\"Website\"]}}\n\nVotes: {{$json[\"Votes\"]}}",
        "additionalFields": {
          "appendAttribution": false,
          "disable_web_page_preview": false,
          "parse_mode": "HTML"
        }
      },
      "id": "c6edd56d-d46e-4874-9a1e-e9b996a82bac",
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1600,
        340
      ],
      "credentials": {
        "telegramApi": {
          "id": "Dc1A5U1EMbzXE4hK",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.posts.edges",
        "options": {
          "destinationFieldName": "posts"
        }
      },
      "id": "61cacff7-a33e-47cf-9770-a06f7bfe1ab0",
      "name": "Split Out",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        960,
        280
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ff8232a-0a7f-42e3-ae0b-ad8315b6fc09",
              "name": "Votes",
              "value": "={{ $json.posts.node.votesCount }}",
              "type": "number"
            },
            {
              "id": "b90797ea-4c10-405d-80b9-39a1490797ae",
              "name": "Name",
              "value": "={{ $json.posts.node.name }}",
              "type": "string"
            },
            {
              "id": "67e2d4db-2c46-4984-896c-da4a22782a62",
              "name": "Description",
              "value": "={{ $json.posts.node.description }}",
              "type": "string"
            },
            {
              "id": "0bf2a4a6-9f72-4d78-aae9-95d45aa0c4f6",
              "name": "Tagline",
              "value": "={{ $json.posts.node.tagline }}",
              "type": "string"
            },
            {
              "id": "fd8a43f9-029f-4f40-9908-1fe69b14bd94",
              "name": "Website",
              "value": "={{ $json.posts.node.website }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "6fe67d6a-aa22-4c8f-b788-18445b9e0544",
      "name": "Edit Fields",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1240,
        340
      ]
    }
  ],
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GraphQL": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "GraphQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {}
}
